html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  font-size: 1.125rem;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
}
.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}
